name: Renovate

on:
  workflow_dispatch: {}
  schedule:
    - cron: "0 4 * * 1" # Every Monday at 04:00 UTC

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: renovatebot/github-action@v46.1.2
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          LOG_LEVEL: info
